{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}

BONJOUR VOICI LE BACKOFFICE

<h1 class="display-4 text-center my-4">BACKOFFICE</h1>

<p class="text-center">Bienvenue sur votre BackOffice</p>

<a href="{{path('admin_vehicules')}}" class="col-md-6 offset-md-3 btn btn-dark">GESTION DES VEHICULES</a>

<a href="{{path('admin_membre')}}" class="col-md-6 offset-md-3 btn btn-dark">GESTION DES MEMBRES</a>

<a href="{{path('admin_commandes')}}" class="col-md-6 offset-md-3 btn btn-dark">GESTION DES COMMANDES</a>

{# <table class="table table-bordered container mt-3">

<thead>
    <tr>
        <th> Titre </th>
        <th> Marque  </th>
        <th> Descrition  </th>
        <th> Photo </th>
        <th> Prix Journalier </th>
        <th> Date Enregistrment </th>
        <th> Modèle </th>
        <th> Action </th>
    </tr>
</thead>

<tbody>
    {% for item in vehicules %}
        <tr>
            <td> {{ item.title }} </td>
            <td> {{ item.marque }} </td>
            <td> {{ item.description }} </td>
            <td> <img src="{{ item.photo}}" style="width: 150px"></td>
            <td> {{ item.prixjournalier }} €</td>
            <td> {{ item.dateenregistrement|date('d/m/Y à H:i:s') }} </td>
            <td> {{ item.modele }} </td>
            <td> <a href=" {{ path('admin_edit_vehicule', {
                id: item.id
            }) }} " class="text-dark"> Commander</a> </td>
    {% endfor %}
</tbody>
</table> #}


{% endblock %}



