{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans votre Agence{% endblock %}

{% block body %}
<table class="table table-bordered text-center">
    <thead>
        <tr>
            {% for colonne in colonnes %}
                <th>{{ colonne }}</th>
            {% endfor %}
            <th>Editer</th>
            <th>Suprimer</th>
        </tr>
    </thead>
    <tbody>
    {% for membre in item %}
        <tr>
            <td>{{ membre.pseudo }}</td>
            <td>{{ membre.nom}}</td>
            <td>{{ membre.prenom}}</td>
            <td>{{ membre.email}}</td>
            <td>{{ membre.statut}}</td>
            <td>{{ membre.civilite}}</td>
            <td>{{ vehicule.dateEnregistrement|date('d/m/Y à H:i:s') }}</td>
            <td><a href="{{ path('admin_edit_membre',{id: membre.id}) }}" class="text-dark"><i class="fas fa-edit"></i></a></td>
            <td><a onclick="return confirm('voulez-vous supprimer cet membre ?')" href="{{ path('admin_delete_membre',{id: membre.id}) }}" class="text-dark"><i class="fas fa-trash"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
